<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mroshi">
    <meta name="keywords" content="mroshi, mrdoc, php">
    <meta name="author" content="mroshi <mroshi@163.com>">

    <title>[title] - MRDOC</title>

    <link rel="stylesheet" href="__PUBLIC__/Common/asset/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/Common/asset/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"> -->

    <link rel="stylesheet" href="__PUBLIC__/Common/asset/jquery-easyui-1.4.3/themes/metro/easyui.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/asset/jquery-easyui-1.4.3/themes/icon.css">
